.reviews {
    border-top: solid #f2f2f2;
    margin-top: 30px;
}

.reviews-div {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.review-id {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 0.5px solid grey; */
    /* box-shadow: 0.5px 0.5px grey; */
}


.review-id {
    /* border: 1px solid red; */
    padding: 0;
    margin: 25px 0;
}

.all-reviews-div {
    padding: 0;
}

.review-heading-div {
    display: flex;
    flex-direction: row;
}

.fa-user-circle {
    font-size: 2.3rem;
    color: #a1444c;
    margin-right: 10px;
}

.review-heading-text > h3 {
    margin: 0;
}

.review-heading-text > h5 {
    margin: 0;
}

.review-text {
    width: 30%;
    height: 90px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
}

.rating-input {
    margin-bottom: 15px;
    height: 30px;
    width: 35px;
}

.rating-submit {
    background-color: transparent;
        border-radius: 3px;
        height: 30px;
        width: 350px;
        padding: 5px;
        border: none;
        background-color: #a1454c;
        color: white;
        cursor: pointer;
}

.review-text-browser {
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 1.1rem;
}

.fa-user{
    color:#a1454c;
    margin-right: 4px;
}

.fa-star {
    color: #a1454c;
}