/* ---- SPOT BROWSER ---- */

/* parent of link wrapper */
.spot-browser-div {
    /* border: 1px dashed red; */
   padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* padding: 20px; */
    /* display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
    row-gap: 15px; */
    width: 100%;
    margin: 20px;
}

/* parent of spot card */
.link-wrapper {
    color: black;
    justify-self: center;
    display: flex;
    margin: 5px 15px;
}

.link-wrapper:visited{
    text-decoration: none;
    color: black;
}

.link-wrapper:link {
    text-decoration: none;
    color: black;
}

.link-wrapper:hover {
    text-decoration: none;
    color: black;
}

.link-wrapper:active {
    text-decoration: none;
    color: black;
}

/* parent of spotimg, title, description */
.spot-card {
    /* border: 1px dashed grey; */
    height: 401px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* padding: 25px 25px */
}

.spot-img {
    border-radius: 8px;
    height: 301px;
    width: 300px;
}


.title > h4 {
    /* float: left; */
    display: inline-block;
    font-weight: bold;
    margin: 10px 0;
}

.title > p {
    float: right;
    padding-right: 10px;
    margin: 10px 0;
}

.description > .description-text {
    color: grey;
    text-decoration: none;
    font-size: 0.85rem;
    margin: 0;
}

.description > .description-price {
    font-weight: bold;
}

/* SPOT DETAIL PAGE */

.spot-photo {
    width: 80%;
}

.spot-title-area {
    /* border: 1px solid red; */
    border-bottom: solid #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 15px;
}

/* .spot-title-text {
    border: 1px solid yellow;
} */

.spot-description-title {
    font-weight: 1000;
    /* border: 1px solid red; */
    font-size: 1.5rem;
}

.spot-profile-pic {
    /* border: 1px solid red; */
    font-size: 50px;
    /* TRY AGAIN LATER */
}

.spot-detail-page {
    width: 80%;
}

.spot-description > h2 {
    margin: 10px 0;
}

.spot-description> p {
    font-size: 14px;
}

.spot-description {
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.spot-information-div {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info-div {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-text-div {
    margin: 20px;
}

.info-text-div > h4{
    font-weight: bold;
    margin: 10px 0;
}

.info-text-div > p {
    margin: 0;   
    color: #797979;
}

.spot-icon {
    font-size: 1.5rem;
}

/* ADD A SPOT FORM */

.add-spot-form-div {
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
    align-items: center;
}

.add-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-self: center;
    width: 100%;
}

.add-spot-form > input {
    margin: 5px;
    width: 60%;
    height: 65px;
    border-radius: 9px;
    box-shadow: 2px 0 2px 1px rgb(128, 128, 128, 0.2);
}

.submit-btn {
    border-radius: 5px;
    background-color: #a1454b;
    color: white;
    font-size: 1rem;
    height: 60px !important;
    width: 40% !important;
}


.edit-spot-form-div {
    display: flex;
        width: 50%;
        flex-direction: column-reverse;
        align-items: center;
}

.edit-spot-form {
    display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
}

.edit-spot-form>input {
    margin: 5px;
    width: 60%;
    height: 65px;
    border-radius: 9px;
    border: 1px solid black;
    box-shadow: 2px 0 2px 1px rgb(128, 128, 128, 0.2);
}

.delete-btn {
    margin: 5px;
        width: 60%;
        height: 65px;
        border-radius: 9px;
        border: 1px solid black;
        box-shadow: 2px 0 2px 1px rgb(128, 128, 128, 0.2);
        border-radius: 5px;
        
            background-color: #a1454b;
            color: white;
            font-size: 2rem;
            height: 60px !important;
            width: 40% !important;
}

.delete-text {
    font-size: 1rem;
}

.delete-review {
    cursor: pointer;
}