.nav-bar {
    /* border: 1px dashed green; */
    border-bottom: 1px solid #a5a4a3;
    height: 120px;
    viewport-fit: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    width: 100%;
}

.add-spot-link {
    align-self: center;
    margin-left: 70%;
    text-decoration: none;
}
.add-spot-link:visited {
    text-decoration: none;
    color: black;
}
.add-spot-link:active {
    text-decoration: none;
    color: black;
}

.home-logo {
    text-decoration: none;
    color: black;
    /* height: 50px;
    width: 50px; */
}

login-modal-div {
    align-items: center;
    color: white;
}

.logo-btn {
    width: 150px;
    height: 120px;
    /* align-items: center; */
}

.profile-btn {

  height: 60px;
   width: 120px;
   border-radius: 40px;
   margin-right:50px;
   font-size: 40px;
    align-self: center;
    justify-self: self-end;

   background-color: white;
   display: flex;
   flex-direction: row-reverse;
}

.profile-pic {
    /* size: 90px; */
    /* width: 40px; */
    height: 20px;
}

.profile-dropdown{
    position: absolute;
    margin-left: 85%;
    margin-top: 5%;
    padding: 15px 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 2px 2px black;
    
    /* border: 1px solid red; */
}

.manage-user-link:visited {
    text-decoration: none;
    color: black
}

.manage-user-link:active {
    text-decoration: none;
}

.manage-user-div {
    padding: 0;
}

/* .manage-user-div:hover {
    background-color: #a1454c;
} */

.manage-user-link:hover {
    text-decoration: none;
    color: white;
}

.manage-user-link:link {
    text-decoration: none;
}

.log-out-button {
    background-color: transparent;
    border-radius: 3px;
    padding: 5px;
    border: none;
    color: #a1454c;
}

.log-out-button:hover {
    color: white;
    background-color: #a1454c;
}

.profile-dropdown > div {
    padding: 7px;
    font-size: 13px;
}

/* USER PAGE */

.manage-user-div {
    height: 80%;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
   
}

.manage-user-div > h2 {
    align-self: center;
}

.user-spots > ul {
    padding: 20px;
}

.edit-link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background-color: #a1454c;
    border: 1px solid #a1454c;
    padding: 10px;
    border-radius: 5px;
}

.user-review-div > ul {
    padding: 20px;
}

.delete-review {
    margin: 0 10px;
    color: white;
    background-color: #a1454c;
    border: 1px solid #a1454c;
    padding: 10px;
    border-radius: 5px;
}

.modal-content {
    margin: 100px;
}

.sign-in-form {
    padding: 30px;
}

.log-in-form {
    padding: 20px;
}

.sign-in-label {
    font-weight: bold;
}

.sign-in-label > input {
    margin: 10px 5px;
    border-radius: 4px;
    border: 1px solid grey;
}

.sign-in-btn {
    display: inline-block;
    margin: 4% 10%;
    color: white;
    background-color: #a1454c;
    border: 1px solid black;
    padding: 9px;
    border-radius: 4px;
}

.log-in-btn {
    display: inline-block;
      
        color: white;
        background-color: #a1454c;
        border: 1px solid black;
        border-radius: 4px;
}