.nav-bar {
    /* border: 1px dashed green; */
    border-bottom: 1px solid #eeeeee;
    height: 70px;
    viewport-fit: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.login-modals {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 3%;
}

.sign-up-modal {
    background-color: #a1454c;
    border: 1px solid #a1454c;
    border-radius: 4px;
    padding: 9px;
    color: white;
    margin: 0 15px;
}

.login-modal {
    background-color: #a1454c;
        border: 1px solid #a1454c;
        border-radius: 4px;
        padding: 9px;
         color: white;
         
}

.add-spot-link {
    align-self: center;
    margin-left: 70%;
    text-decoration: none;
}
.add-spot-link:visited {
    text-decoration: none;
    color: black;
}
.add-spot-link:active {
    text-decoration: none;
    color: black;
}

.home-logo {
    text-decoration: none;
    color: black;
    /* height: 50px;
    width: 50px; */
}

login-modal-div {
    align-items: center;
    color: white;
}

.logo-btn {
    width: 95px;
    height: 70px;
    /* align-items: center; */
}

/* .profile-btn-div {
    width: 400px;
} */

.profile-btn {
    /* border: 10px solid orange; */
    position: relative;
  height: 42px;
   width: 72px;
   padding: 0;
   border: 1px solid #a1454c;
   color: #a1454c;
   border-radius: 20px;
   margin-right:50px;
   font-size: 40px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   justify-items: center;
    align-content: center !important;
    align-items: center !important;
    background-color: white;

   /* cursor: pointer; */
}

.profile-btn:hover {
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
}

.profile-icons {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    align-content: center;
    padding: 0 5px;
}

.profile-icons::before {
    font-size: 1.5rem;
    /* align-self: center; */
}



.fa-bars {
    padding-left: 8px;
    font-size: 1.5rem !important;
}

.profile-dropdown{
    position: absolute;
    /* margin-left: 85%;
    margin-top: 6%; */
    top: 50px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid hsla(0, 0%, 82.7%, .6);
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.profile-dropdown > p {
    color: black;
    font-size: 10pt;
    margin: 10px 0;
}

.manage-user-div {
    font-size: 10pt;
    padding: 0 0 10px !important;
}

.manage-user-link {
    color: #a1454c;
}

/* .manage-user-link:visited {
    text-decoration: none;
    color: black
} */

.manage-user-link:active {
    text-decoration: none;
}



/* .manage-user-div:hover {
    background-color: #a1454c;
} */

.manage-user-link:hover {
    text-decoration: none;
    /* width: 146px !important; */
    background-color: #a1454c;
    color: white;
}

.manage-user-link:link {
    text-decoration: none;
}

.log-out-button {
    background-color: transparent;
    border-radius: 1px;
    padding: 0;
    border: none;
    color: #a1454c;
    cursor: pointer;
}

.log-out-button:hover {
    color: white;
    background-color: #a1454c;
}

.profile-dropdown > div {
    padding: 7px;
    font-size: 13px;
}

/* USER PAGE */

/* .manage-user-div {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
   
} */

/* .manage-user-div > h2 {
    align-self: center;
} */
.user-greeting {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    margin-left: 50px;
}

.user-title{
    margin: 15px 0 5px;
}

.user-email{
    color: #959595;
    margin: 0;
}

.user-spots > ul {
    padding: 20px;
}

.edit-link {
    margin: 0;
    text-decoration: none;
    color: white;
    background-color: #a1454c;
    border: 1px solid #a1454c;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
}

.user-review-div > ul {
    padding: 20px;
}

.delete-review {
    margin: 0 15px;
    color: white;
    background-color: #a1454c;
    border: 1px solid #a1454c;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
}

.modal-content {
    margin: 100px;
}

.sign-in-form {
    padding: 30px;
}

.log-in-form {
    padding: 20px;
}

.sign-in-label {
    font-weight: bold;
}

.sign-in-label > input {
    margin: 10px 5px;
    border-radius: 4px;
    border: 1px solid grey;
}

.sign-in-btn {
    display: inline-block;
    margin: 4% 10%;
    color: white;
    background-color: #a1454c;
    border: 1px solid black;
    padding: 9px;
    border-radius: 4px;
}

.log-in-btn {
    display: inline-block;
      
        color: white;
        background-color: #a1454c;
        border: 1px solid black;
        border-radius: 4px;
}

/* USER PAGE */

.spot-review-parent {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

.user-spots-div {
    width: 50%;
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-spot-card {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.price {
    font-weight: bold;
}

.user-reviews-div {
    width: 50%;
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #f2f2f2;
}

.user-reviews {
    align-self: flex-start;
}

.user-review-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-img {
    height: 290px;
    width: 250px;
    margin: 1%;
    border-radius: 4px;
}

.user-spot-text {
    color: #a1454c;
    align-self: center;
}

.user-spot-card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-spot-card-text > h4 {
    font-weight: 900 !important;
    font-size: 1rem;
    margin: 0;
}

.user-spot-card-content {
    color: #747474;
}

.user-bookings-div {
    border-bottom:1px solid #f8f8f8;
}

.user-bookings-div > h2 {
    margin-left: 50px;
}

.user-bookings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.booking-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-card-div {
    margin: 10px;
}

.booking-content {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.booking-info {
    margin: 5px 15px;
}

.booking-info > h3 {
    font-weight: bold;
    margin: 0 0 5px;
}

.booking-info > p {
    margin: 0;
    color: #797979;
    margin: 5px 0;
}

.booking-img {
    height: 90px;
    width: 80px;
    border-radius: 15px;
}

.edit-booking-btn {
    background-color: #a1454c;
    color: white;
    width: 50%;
    border: none;
    border-radius: 4px;
    padding: 9px 0;
    margin: 5px 0 20px;
}

.user-booking-input {
    display: flex;
    flex-direction: column;
}

.user-dates-form-div {
    border: 2px solid #eeeeee;
    border-radius: 4px;
    padding: 10px;
}

.user-dates-form {
    display: flex;
    flex-direction: row;
}

.user-edit-bookings-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-edit-bookings-div > button {
    background-color: #a1454c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px;
    margin: 10px 10px;
}